form {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 45px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.266);
  }
  
  h1 {
    text-align: center;
    color: #000000;
    /* margin-top: 25px; */
    padding: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #409044;
  }
  
  input[type="text"]:focus {
    outline: none;
    border-color: #44a047;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.7);
  }
  
  .username,
  .email,
  .queries {
    margin-bottom: 20px;
  }
  